google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud-aiplatform==1.28.1
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-cloud-resource-manager==1.10.2
google-cloud-storage==2.10.0
gcloud==0.18.3
graphdatascience==1.7
langchain==0.0.286
langcodes==3.3.0
langsmith==0.0.35
neo4j==5.8.0
numpy==1.24.3
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.27.8
pandas==2.0.3
ratelimit==2.2.1
streamlit==1.26.0
tiktoken==0.4.0
transformers==4.31.0
typing-inspect==0.9.0
typing_extensions==4.5.0
urllib3==1.26.16
vertexai==0.0.1